.money {
    font-weight: bold;
}

.disabled {
    background-color: #f1f1f1;
    color: grey;
}

.sub-title {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    border-bottom: 4px solid black;
    margin-bottom: 50px;
    padding: 10px 0;
}

#main > form {
    text-align: center;
}

#main table:not(.prod-list) {
    border-collapse: collapse;
    border-top: 2px solid gray;
    width: 100%;
    text-align: left;
}

#main table:not(.prod-list) tr {
    border-bottom: 1px solid lightgrey;
}

#main table:not(.prod-list) th {
    width: 120px;
    padding: 20px 10px 20px 0;
    border-right: 1px solid lightgrey;
    background-color: #f1f1f1;
    text-align: right;
    font-weight: normal;
}

#main table:not(.prod-list) td {
    padding-left: 20px;
}

.prod-list {
    border-collapse: collapse;
    width: 100%;
}

.prod-list thead tr th {
    background-color: #00a2ff;
    color: white;
    padding: 5px 0;
}

.prod-list thead tr th:first-child {
    border-top-left-radius: 10px;
}

.prod-list thead tr th:last-child {
    border-top-right-radius: 10px;
}

.prod-list tbody tr {
    border-bottom: 1px solid lightgrey;
}

.prod-list tbody tr td:first-child {
    padding: 10px;
}

.prod-list tbody tr td:first-child ~ td {
    text-align: center;
}

.prod-list tbody tr td:first-child h4 {
    margin: 0;
}

.prod-list tbody tr td:first-child time,
.prod-list tbody tr td:first-child small {
    font-size: 0.9em;
    color: grey;
}

#main > form > button {
    margin-top: 20px;
    font-size: 1.75em;
    /* font-weight: bold; */
    border: none;
    border-radius: 10px;
    background-color: #00a2ff;
    padding: 10px 40px;
    color: white;
    cursor: pointer;
}