nav {
    background-color: #0066ff;
    width: 100%;
    line-height: 50px;
}

nav > ul {
    width: 1200px;
    margin: 0 auto;
}

nav > ul::after {
    content: "";
    display: block;
    clear: both;
}

nav > ul > li {
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

nav > ul > li:first-child {
    background-color: #0036ff;
}

nav > ul > li > a {
    padding: 0 20px;
    color: white;
}

nav > ul > li:first-child > a {
    font-weight: bold;
}